<ion-header>
  <meta charset="UTF-8">
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-title class="welcome-card-title">Register New Account</ion-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerFormGroup" action = "http://localhost:3000/register" method = "GET">
        <ion-item style="margin-top: 20px;">
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password1" type='password'></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label position="floating">Comfirm Password</ion-label>
          <ion-input formControlName="password2" type='password'></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>Year Group</ion-label>
          <ion-select
            formControlName="year" multiple="false"
            cancelText="Cancel" okText="Select" >
            <ion-select-option *ngFor="let year of yearGroups" value={{year}}>
              {{year}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
          <ion-label>School</ion-label>
          <ion-select
            formControlName="school" id="schoolSelect"
            multiple="false" cancelText="Cancel" okText="Select">
            <ion-select-option *ngFor="let school of schoolList" value={{school}}>
              {{school}}
            </ion-select-option>

          </ion-select>
        </ion-item>
        <br>
        <ion-button
          (click)="register()" [disabled]="registerFormGroup.invalid"
          expand='block'>
          Register
      </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
