<ion-header>
  <meta charset="UTF-8">
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item style="margin-top: 20px;">
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type='Password'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Comfirm Password</ion-label>
    <ion-input type='Password'></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>Year Group</ion-label>
    <ion-select multiple="false" cancelText="Cancel" okText="Okay">
      <ion-select-option value="Primrose Hill Primary">Year 1</ion-select-option>
      <ion-select-option value="Haymoor Primary">Year 2</ion-select-option>
      <ion-select-option value="Middlesworth Primary">Year 3</ion-select-option>
      <ion-select-option value="Angleside Primary">Year 4</ion-select-option>
      <ion-select-option value="Treemore Primary">Year 5</ion-select-option>
      <ion-select-option value="Charleson Primary">Year 6</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label>School</ion-label>
    <ion-select multiple="false" cancelText="Cancel" okText="Okay">
      <ion-select-option value="Primrose Hill Primary">Year 1</ion-select-option>
      <ion-select-option value="Haymoor Primary">Year 2</ion-select-option>
      <ion-select-option value="Middlesworth Primary">Year 3</ion-select-option>
      <ion-select-option value="Angleside Primary">Angleside Primary</ion-select-option>
      <ion-select-option value="Treemore Primary">Treemore Primary</ion-select-option>
      <ion-select-option value="Charleson Primary">Charleson Primary</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <section style="text-align:center;">
  <ion-button size='medium' routerLink="../play">Register</ion-button>
  </section>
</ion-content> 
