<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">

<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title class="welcome-card-title">Student Name: </ion-card-title>
  </ion-card-header>

  <ion-card-header>
    <ion-card-title>Student Progress</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #lineChart></canvas>
  </ion-card-content>

</ion-card>
</ion-content>
