<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">

<ion-card class="welcome-card">
  <ion-card-header>
    <ion-card-title class="welcome-card-title">{{title}}</ion-card-title>
  </ion-card-header>

  <ion-card-header>
    <ion-card-title>Student Progress</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <canvas #lineChart></canvas>
  </ion-card-content>

</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Badges</ion-card-title>
  </ion-card-header>
  <ion-item id="badges" *ngFor="let badge of badges">
    <img slot="start" style="width: 25% !important; margin: 3px" src="{{badge.image}}">
    <label>{{badge.topic}} - {{badge.rank}}</label>
  </ion-item>
</ion-card>
</ion-content>
