@import url(https://fonts.googleapis.com/css?family=Bevan);

.ion-multi-content{
    --background: url('/assets/progress-multiplayer/background.jpg') 100% 100%;
  }

//   .row-structure{
//     --ion-grid-height: 90%;
//   }

ion-row {
    height: 45%;
}

.card{
    background: rgba(255, 255, 255, 0.62);
    width: 92%;
    height: 150px;
    text-align: center;
}

.question-card{
    height: 130px;
    // visibility: visible;
}

.middle-progress-section{
    height: 7%;
    // margin-left: 3%;
    // margin-right: 3%;
}

.middle-progress-bar-left{
    margin-top: 1%;
}

.middle-progress-bar-right{
    margin-bottom: 2%;
    transform: rotate(180deg)
}

.choice-section{
    size: "6";
    text-align: center;
  }

.choice-button{
    // size: large;
    width: 80%;;//100px;
    height: 90%; //30px;
    --border-color:white;
    --background: rgba(233, 250, 233, 0.712);
    --border-color:rgb(76, 167, 73);
    --border-style: dashed;
    --border-width: 5px;
    --box-shadow: 2px 2px 2px black;
    &:active {
        margin-top: 3px;
        --box-shadow: none;
    }
  }

.font{
    font-family: "Bevan";
    font-size: 20px;
    color: rgb(247, 226, 38);
    text-align: center;
    // width: 260px;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px #000;  
    display: inline-block;
    -ms-transform: rotate(25deg);
    -webkit-transform: rotate(10deg);
}

.bottom-left-progress-bar{
    margin-top: 5px;
    // margin-left: 3px;
}

.top-right-progress-bar{
    margin-bottom: 5px;
    transform: rotate(180deg);
}

.choice-button-rotate{
    width: 80%;;//100px;
    height: 90%; //30px;
    --border-color:white;
    --background: rgba(233, 250, 233, 0.712);
    --border-color:rgb(76, 167, 73);
    --border-style: dashed;
    --border-width: 5px;
    --box-shadow: 2px 2px 2px black;
    transform: rotate(180deg);
    &:active {
        margin-top: 3px;
        --box-shadow: none;
    }
}

.card-rotate{
    background: rgba(255, 255, 255, 0.62);
    width: 92%;
    height: 150px;
    text-align: center;
    transform: rotate(180deg);
}

.middle-center{
    animation-duration: 6s;
    animation-name: example;
    animation-iteration-count: infinite;
}
@keyframes example {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360*5deg);}
}