<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Numberfit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-title>Play</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Play the game.
      </p>
      <ion-button routerLink="../play-single" routerDirection="forward">
        Single PLayer
      </ion-button>
      <ion-button routerLink="../play-multi" routerDirection="forward">
        Head-to-Head
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
