<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="welcome-card-title">Play</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="play-single">
        <img class="icon" src="/assets/icon/person-icon.svg"/>
        <br>
        <ion-button expand="block" fill="clear">
          Single Player
        </ion-button>
      </div>

      <div id="play-multi">
        <img class="icon" src="/assets/icon/people-icon.svg" />
        <br>
        <ion-button expand="block" fill="clear">
          Head-to-Head
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="welcome-card-title">My Acheivements</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img class="icon" style="width: 20%" src="/assets/icon/trophy.svg" alt=""/>
      <br><p> Get Playing to Earn Acheivements...</p>
    </ion-card-content>
  </ion-card>


    <ion-card class="welcome-card">
      <ion-card-content>
        <ion-button
        expand="block" fill="clear" routerLink="../leaderboard" routerDirection="forward">
          Leaderboard
        </ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
