
  .center {
    text-align:center; 
    margin-top: 40px;
  }

  .button1 {
    width: 100px; 
    margin-top: 40px;
    color: "secondary";
    size: "medium"; 
  }

  .button2 {
    width: 100px; 
    margin-top: 15px;
    color: "secondary";
    size: "medium"; 
  }