<ion-header>
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title class="welcome-card-title">Sign In</ion-card-title>
    </ion-card-header>
    <ion-card-content class="welcome-card">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input id="input_username" ></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label id="input_password" position="floating">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <br>
      <!-- <ion-button expand="block" style="width: 100px;" size="medium" color="secondary"> Sign In </ion-button>
      <br>
      <ion-button style="width: 100px;" size="medium" color="secondary">Register</ion-button> -->
      <ion-row>
        <ion-col width-50 style="text-align: right">
          <ion-button id="btn_sign-in" expand="block" fill="clear">Sign In</ion-button>
    </ion-col>
    <ion-col width-50 style="text-align: left">
         <ion-button expand="block" fill="clear" routerLink="../register" routerDirection="forward">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
