<ion-header>
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section style="text-align:center; margin-top: 40px;">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="Password"></ion-input>
  </ion-item>
  <ion-button style="width: 100px; margin-top: 40px;" size="medium" color="secondary"> Sign In </ion-button>
  <br>
  <ion-button style="width: 100px; margin-top: 15px;" size="medium" color="secondary">Register</ion-button>
</section>
</ion-content>
