<ion-header>
  <ion-toolbar>
    <ion-title>Sign-in</ion-title>
  </ion-toolbar>
  <style>
    .center {
      margin: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  </style>
</ion-header>

<ion-content>
  <section class=center>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <br>
  <!-- <ion-button expand="block" style="width: 100px;" size="medium" color="secondary"> Sign In </ion-button>
  <br>
  <ion-button style="width: 100px;" size="medium" color="secondary">Register</ion-button> -->
  <ion-row> 
    <ion-col width-50 style="text-align: right"> 
      <ion-button size="small" style="width: 60px;" color="secondary">Sign In</ion-button>      
</ion-col> 
<ion-col width-50 style="text-align: left">  
     <ion-button size="small" style="width: 60px;" color="secondary">Register</ion-button> 
    </ion-col> 
  </ion-row>
</section>
</ion-content>
