<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
</ion-header>

<ion-content class="ion-content">
  <ion-card>
    <ion-card-header>
      <ion-title class="welcome-card-title">Sign Out</ion-title>
    </ion-card-header>
    <ion-card-content>
      <section class="center">
        <p class="f1">Are You Sure You Want to Sign Out?</p>
        <ion-button (click)="signOut()" style="margin: 30%;" size="medium" color="danger" routerLink="../sign-in">
          Sign Out
        </ion-button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
