<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title class="welcome-card-title">Sign Out?</ion-card-title>
      </ion-card-header>
      <section class="center">
        <h2>Are You Sure You Want to Sign Out?</h2>
        <ion-button
        (click)="signOut()" style="margin: 10%;" fill="solid"
        size="medium" color="danger" routerLink="../sign-in">
          Sign Out
        </ion-button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
