<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content" id='students'>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="welcome-card-title">Leaderboard</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div align="center">
          <h3 id="myScore">My Score: ... points</h3>
        </div>
        <form [formGroup]="selectSchoolGroup">
          <ion-item>
            <ion-label>Select a School</ion-label>
            <ion-select
              formControlName="school" id="schoolSelect" 
              multiple="false" cancelText="Cancel" okText="Select">
            </ion-select>
          </ion-item>
          <ion-button
            (click)="searchSchool()" [disabled]="selectSchoolGroup.invalid"
            expand="block" fill="clear" routerLink="../sign-in">
            Search Selected School
          </ion-button>
        </form>
        <ion-list id="leaderboard">
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="welcome-card-title">My Badges</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                Badge 1
              </div>
            </ion-col>
            <ion-col>
              <div>
                Badge 2
              </div>
            </ion-col>
            <ion-col>
              <div>
                Badge 3
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                Badge 4
              </div>
            </ion-col>
            <ion-col>
              <div>
                Badge 5
              </div>
            </ion-col>
            <ion-col>
              <div>
                Badge 6
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
