<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Numberfit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-title>Leaderboard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Here you can see the leaderboard.
        This is the first commit
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
