<ion-header>
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title id="title" class="welcome-card-title">Subject Select</ion-card-title>
    </ion-card-header>
      <ion-radio-group
      id="radio-group"
      allow-empty-selection=“false”
      *ngFor="let sub of subjects.availableTopics">
      <ion-item>
        <ion-label>{{sub.Topic}}</ion-label>
        <ion-radio id={{sub.Topic}} slot="end" (click)=onSelect(sub.Topic)></ion-radio>
      </ion-item>
      </ion-radio-group>
    <ion-button id="btn-play" expand="block" fill="clear">
      Play Selected Subject
    </ion-button>
  </ion-card>
</ion-content>
