<ion-header>
  <ion-toolbar>
    <ion-title><img src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title id="title" class="welcome-card-title">Subject Select</ion-card-title>
    </ion-card-header>
    <ion-radio-group id="radio-group">

    </ion-radio-group>
    <ion-button id="btn-play" expand="block" fill="clear">
      Play Selected Subject
    </ion-button>
  </ion-card>
</ion-content>
