<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@next/css/ionic.bundle.css"/>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-content>
      <ion-card-header>
        <ion-card-title class="welcome-card-title">My Account</ion-card-title>
      </ion-card-header>
      <ion-item style="margin-top: 20px;">
        <ion-label style="width: auto !important">Name: </ion-label>
        <ion-input value={{user.name}} readonly style="text-align: left;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input value={{user.username}} readonly style="text-align: left;"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>School: </ion-label>
        <ion-input value={{user.school}} readonly style="text-align: left;"></ion-input>
      </ion-item>
      <form [formGroup]="modifyDetailsFormGroup" id="modForm">

      <ion-item>
        <ion-label>Year Group</ion-label>
        <ion-select
        formControlName="year" multiple="false"
        cancelText="Cancel" okText="Select" placeholder="{{user.year}}">
          <ion-select-option *ngFor="let year of yearGroups" value={{year}}>
            {{year}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Teacher</ion-label>
        <ion-select
        formControlName="teacher" id="schoolSelect"
        multiple="false" cancelText="Cancel" okText="Select" placeholder="{{teachDef}}">
        <ion-select-option *ngFor="let teacher of teachers;" value={{teacher.username}}>
          {{teacher.name}}
        </ion-select-option>
      </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Change Password</ion-label>
        <ion-input formControlName="password1" type='password'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comfirm Password</ion-label>
        <ion-input formControlName="password2" type='password'></ion-input>
      </ion-item>
      <br>
      <ion-button
        (click)="modifyDetails()"
        expand='block' fill="clear">
        Confirm Changes
      </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
