<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="/assets/NumberfitLogo.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content" fullscreen>
<ion-card>
  <ion-card-header>
    <ion-title class="welcome-card-title">My Account</ion-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="modifyDetailsFormGroup">
    <ion-item style="margin-top: 20px;">
      <ion-label>Name: </ion-label>
      <ion-input value={{userObj.name}} readonly style="text-align: center;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input value={{userObj.username}} readonly type="email" style="text-align: center;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>School: </ion-label>
      <ion-input value={{userObj.school}} readonly style="text-align: center;"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Year Group</ion-label>
      <ion-select
      formControlName="year" multiple="false"
      cancelText="Cancel" okText="Select">
        <ion-select-option *ngFor="let year of yearGroups" value={{year}}>
          {{year}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Teacher</ion-label>
      <ion-select
      formControlName="teacher" id="schoolSelect"
      multiple="false" cancelText="Cancel" okText="Select">
      <ion-select-option *ngFor="let name of teacherNames;let username of teacherUsernames;" value={{usernames}}>
        {{name}}
      </ion-select-option>
    </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Change Password</ion-label>
      <ion-input formControlName="password1" type='password'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comfirm Password</ion-label>
      <ion-input formControlName="password2" type='password'></ion-input>
    </ion-item>
    <br>
    <ion-button
     [disabled]="modifyDetailsFormGroup.invalid"
      (click)="modifyDetails()"
      expand='block'>
      Confirm Changes
    </ion-button>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>
