<ion-header>
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-content">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title id="title" class="welcome-card-title">Student List</ion-card-title>
    </ion-card-header>
      <ion-radio-group
      id="radio-group"
      allow-empty-selection=“false”
      *ngFor="let student of studentList">
      <ion-item>
        <ion-label>{{student}}</ion-label>
        <ion-radio id={{student}} slot="end" (click)=onSelect(student)></ion-radio>
      </ion-item>
      </ion-radio-group>
    <ion-button id="btn-play" expand="block" fill="clear">
      Check Student Progress
    </ion-button>
  </ion-card>
</ion-content>