@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
.card{
  background: rgba(255, 255, 255, 0.62);
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  // width: 90%;
  height: 40%;
  overflow: hidden;
  // padding-bottom: 20%;
  // opacity: 30%;
}

.question-card{
  // position: absolute;
  height: 200px;
  width: 300px;
  // top: 5%;
  // padding-bottom: 5px;
  visibility: visible;
}

.video-container{
  position: absolute;
  height: 95%;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  visibility: hidden;
}

.card-title{
  font-size: 12px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.ion-content{
  --background: url('/assets/progress-singleplayer/background3.png') 100% 100%;
}

.board {
  visibility: visible;
  overflow: hidden;
  height: 100%;
}

.choice-section{
  size: "6";
  text-align: center;
}

.choice-button{
  // size: large;
  width: 120px;
  height: 60px;
  // --ion-tab-bar-color:white;
  // --ion-background-color: rgba(193, 243, 191, 0.74);
  --background: rgba(233, 250, 233, 0.712);
  --border-color:rgb(76, 167, 73);
  --border-style: dashed;
  --border-width: 5px;
  border-spacing: 5px;
  shape-outside: round;
  // opacity: 40%;
  --box-shadow: 0px 2px 0px black;
  &:active {
    margin-top: 3px;
    --box-shadow: none;
  }
}

.choice-button:hover{
  color: black; 
}

.answer-card{
  // width: 1500px;
  height: 100%;
}

.choice-row{
  margin-top: 5%;
  margin-bottom: 5%;
}

.font{
  font-family: "Bevan";
  font-size: 40px;
  font-weight: 400;
  line-height: 130px;
  color: rgb(247, 226, 38);
  // text-transform: uppercase;
  text-align: center;
  width: 260px;
  // margin: 75px auto 0;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #000; 
  // text-shadow: 
  //   0px 0px 0 rgb(-14,144,41),-1px 1px 0 rgb(-19,139,36),-2px 2px 0 rgb(-23,135,32),-3px 3px 0 rgb(-27,131,28),-4px 4px 0 rgb(-32,126,23),-5px 5px 0 rgb(-36,122,19),-6px 6px 0 rgb(-40,118,15),-7px 7px 0 rgb(-45,113,10),-8px 8px 0 rgb(-49,109,6),-9px 9px 0 rgb(-53,105,2),-10px 10px 0 rgb(-58,100,-3),-11px 11px 0 rgb(-62,96,-7),-12px 12px 0 rgb(-67,91,-12),-13px 13px 0 rgb(-71,87,-16),-14px 14px 0 rgb(-75,83,-20),-15px 15px 0 rgb(-80,78,-25),-16px 16px 0 rgb(-84,74,-29),-17px 17px 0 rgb(-88,70,-33),-18px 18px 0 rgb(-93,65,-38),-19px 19px 0 rgb(-97,61,-42), -20px 20px 0 rgb(-101,57,-46);   
  display: inline-block;
  // margin-left: 5px;
  // margin-right: 14px;
  -ms-transform: rotate(25deg);
  // -moz-transform: rotate(25deg);
  // -o-transform: rotate(5deg);
  -webkit-transform: rotate(10deg);
  // transform: rotate(25deg);
}

.winning-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
  visibility: hidden;
}

#balloon-effect{ 
  position: absolute;
  width: 100%;
  bottom: -100%;
  transition: ease-in-out;
  animation-name: balloon-animation;
  animation-duration: 5s;
  animation-play-state: paused;
  z-index: 2;
}

@keyframes balloon-animation {
  0%   {bottom:-100%;}
  100% {bottom:100%;}
}

.congrats-label  {
  position: absolute;
  width: 0%;
  height: 60px;
  top: 60%;
  background: rgb(184, 54, 54);
  transition: width 0.5s;
  box-shadow: 3px 3px 5px #000;
  transition-timing-function: linear;
}

// .congrats-label:hover {
//   width: 100%;
// }

#congrats-font {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Bevan";
  text-shadow: 3px 3px 5px #000;
  font-size: 40px;
  font-weight: 500;
  z-index: 1;
}

.balloon-background-board{
  position: absolute;
  width: 100%;
  height: 69%;
  margin-top: 50%;
  overflow: hidden;
}

#balloon-background-effect {
  position: absolute;
  width: 100%;
  animation-duration: 3s;
  animation-name: balloon-background-animation;
  animation-iteration-count: infinite;
  opacity: 80%;
}

@keyframes balloon-background-animation {
  0%   {padding-left:0px; padding-top:0px;}
  25%  {padding-right:5px; padding-bottom:10px;}
  50%  {padding-right:5px; padding-bottom:0px;}
  75%  {padding-left:5px; padding-bottom:10px;}
  100% {padding-left:0px; padding-top:0px;}
}


#star-animation {
  position: absolute;
  height: 100%;
  visibility: hidden;
}

#center-star {
  position: absolute;
  // margin-left: 20px;
  margin-right: 10px;
  width: 100%;
  top: 5%;
  text-align: center;
  z-index: 3;
}

.done-button-section{
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}

#video-done-button{
  height: 50px;
  width: 300px;
  text-align: center;
  --background: url('/assets/progress-singleplayer/button_background1.png') 300px 50px; 
  --border-color:rgb(111, 182, 111);
  --border-width:5px;
  --border-style: solid;
  --box-shadow: 4px 3px 3px rgb(48, 45, 45);
  z-index: 4;
  visibility: hidden;
}

#video-done-button:hover{
  color: rgb(23, 78, 35);
}

#done-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: rgb(111, 182, 111);
}
