@import url(https://fonts.googleapis.com/css?family=Bevan);
.card{
  background: #fff;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 60%;
  opacity: 30%;
}

.card-title{
  font-size: 12px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.ion-content{
  --background: url('/assets/progress-singleplayer/background_image.jpg') 100% 100%;
}

.choice-section{
  size: "6";
  text-align: center;
}

.choice-button{
  // size: large;
  width: 120px;
  height: 70px;
  // border-color: white;
  --border-color:white;
  // shape-outside: round;
  // opacity: 0%;
  --box-shadow: 2px 2px 2px black;
}

.choice-button:hover{
  color:black;
}

.choice-row{
  margin-top: 5%;
  margin-bottom: 5%;
}

.font{
  font-family: "Bevan";
  font-size: 50px;
  font-weight: 400;
  line-height: 130px;
  color: rgb(247, 226, 38);
  // text-transform: uppercase;
  text-align: center;
  width: 260px;
  // margin: 75px auto 0;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #000; 
  // text-shadow: 
  //   0px 0px 0 rgb(-14,144,41),-1px 1px 0 rgb(-19,139,36),-2px 2px 0 rgb(-23,135,32),-3px 3px 0 rgb(-27,131,28),-4px 4px 0 rgb(-32,126,23),-5px 5px 0 rgb(-36,122,19),-6px 6px 0 rgb(-40,118,15),-7px 7px 0 rgb(-45,113,10),-8px 8px 0 rgb(-49,109,6),-9px 9px 0 rgb(-53,105,2),-10px 10px 0 rgb(-58,100,-3),-11px 11px 0 rgb(-62,96,-7),-12px 12px 0 rgb(-67,91,-12),-13px 13px 0 rgb(-71,87,-16),-14px 14px 0 rgb(-75,83,-20),-15px 15px 0 rgb(-80,78,-25),-16px 16px 0 rgb(-84,74,-29),-17px 17px 0 rgb(-88,70,-33),-18px 18px 0 rgb(-93,65,-38),-19px 19px 0 rgb(-97,61,-42), -20px 20px 0 rgb(-101,57,-46);   
  display: inline-block;
  // margin-left: 5px;
  // margin-right: 14px;
  -ms-transform: rotate(25deg);
  // -moz-transform: rotate(25deg);
  // -o-transform: rotate(5deg);
  -webkit-transform: rotate(10deg);
  // transform: rotate(25deg);
}