@import url(https://fonts.googleapis.com/css?family=Bevan);
@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
.card{
  background: rgba(255, 255, 255, 0.62);
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
  height: 40vh;
  width: 90vw;
  overflow: hidden;
}

.question-card{
  position: absolute;
  height: 95%;
  width: 95%;
  padding-right: 2.5%;
  margin-top: 2.5%;
  // margin-bottom: 5%;
  visibility: visible;
}

.video-container{
  position: absolute;
  height: 95%;
  width: 90%;
  margin-top: 2%;
  margin-bottom: 2%;
  visibility: hidden;
}

.card-title{
  font-size: 12px;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}

.ion-content{
  --background: url('/assets/progress-singleplayer/background.jpg') no-repeat center center;
  --overflow: hidden;
  // height: 100%;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // background-size: cover;
}

.overlay-section {
  opacity: 100%;
}

.board {
  visibility: visible;
  overflow: hidden;
  height: 100%;
}

.progress-section {
  // margin-top: 5%;
  margin-bottom: 1%;
  height: 10vh;
  width: 98%;
  text-align: center;
}

.choice-section{
  size: "6";
  text-align: center;
}

.choice-button{
  // size: large;
  width: 90%;
  height: 60%;
  // --ion-tab-bar-color:white;
  // --ion-background-color: rgba(193, 243, 191, 0.74);
  --background: rgba(233, 250, 233, 0.712);
  --border-color:rgb(76, 167, 73);
  --border-style: dashed;
  --border-width: 5px;
  border-spacing: 5px;
  shape-outside: round;
  // opacity: 40%;
  --box-shadow: 0px 2px 0px black;
  &:active {
    margin-top: 3px;
    --box-shadow: none;
  }
}

.choice-button:hover{
  color: black; 
}

.answer-card{
  // width: 1500px;
  height: 100%;
}

.choice-row{
  // margin-top: 2%;
  // margin-bottom: 5%;
  height: 18vh;
  text-align: center;
}

.font{
  font-family: "Bevan";
  font-size: 40px;
  font-weight: 400;
  line-height: 130px;
  color: rgb(247, 226, 38);
  text-align: center;
  width: 260px;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #000; 
  display: inline-block;
  -ms-transform: rotate(25deg);
  -webkit-transform: rotate(10deg);
}

.winning-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow:hidden;
  visibility: hidden;
}

#balloon-effect{ 
  position: absolute;
  width: 100%;
  bottom: -100%;
  transition: ease-in-out;
  animation-name: balloon-animation;
  animation-duration: 5s;
  animation-play-state: paused;
  z-index: 2;
}

@keyframes balloon-animation {
  0%   {bottom:-100%;}
  100% {bottom:100%;}
}

.congrats-label  {
  position: absolute;
  width: 0%;
  height: 60px;
  top: 60%;
  background: rgb(184, 54, 54);
  transition: width 0.5s;
  box-shadow: 3px 3px 5px #000;
  transition-timing-function: linear;
}

// .congrats-label:hover {
//   width: 100%;
// }

#congrats-font {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Bevan";
  text-shadow: 3px 3px 5px #000;
  font-size: 40px;
  font-weight: 500;
  z-index: 1;
}

// .balloon-background-board{
//   position: absolute;
//   width: 100%;
//   height: 69%;
//   margin-top: 50%;
//   overflow: hidden;
// }

// #balloon-background-effect {
//   position: absolute;
//   width: 100%;
//   animation-duration: 3s;
//   animation-name: balloon-background-animation;
//   animation-iteration-count: infinite;
//   opacity: 80%;
// }

// @keyframes balloon-background-animation {
//   0%   {padding-left:0px; padding-top:0px;}
//   25%  {padding-right:5px; padding-bottom:10px;}
//   50%  {padding-right:5px; padding-bottom:0px;}
//   75%  {padding-left:5px; padding-bottom:10px;}
//   100% {padding-left:0px; padding-top:0px;}
// }


#star-animation {
  position: absolute;
  height: 100%;
  visibility: hidden;
}

#center-star {
  position: absolute;
  // margin-left: 20px;
  margin-right: 10px;
  width: 100%;
  top: 5%;
  text-align: center;
  z-index: 3;
}

.done-button-section{
  position: absolute;
  width: 100%;
  top: 45vh;
  text-align: center;
}

#video-done-button{
  height: 7vh;
  width: 95%;
  text-align: center;
  --background: url('/assets/progress-singleplayer/button_background.png'); 
  --border-color:rgb(111, 182, 111);
  --border-width:5px;
  --border-style: solid;
  --box-shadow: 4px 3px 3px rgb(48, 45, 45);
  z-index: 4;
  visibility: hidden;
}

#video-done-button:hover{
  color: rgb(23, 78, 35);
}

#done-font {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 5vh;
  color: rgb(111, 182, 111);
}

#replay-button {
  --background: rgba(39, 201, 139, 0.897);
  margin-bottom: 20%;
}

#exit-button {
  --background: rgba(190, 41, 15, 0.897);
}

.end-section {
  visibility: hidden;
}