<ion-header>
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Quit</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <section class="overlay-section">
  <section class="winning-container">
  <img id="center-star" src="/assets/Winning-decoration/big_star.gif"/>
  <p id="congrats-font">Good job!</p><br>
  <section class="congrats-label"></section>
  </section>
  <section class="board">
  <section>
    <img id="star-animation" src="/assets/Winning-decoration/star_animation.gif"/>
  </section>
  <ion-card class="card">
    <!-- <ion-card-content> -->
      <img class="question-card" src="{{question}}"/>
      <!-- <div  style="width:100%; height:100%;" > -->
      <iframe class="video-container" [src]="video"></iframe>
    <!-- </ion-card-content> -->
  </ion-card>
  <section class="progress-section">
    <img src="/assets/progress-singleplayer/{{pictureRef}}.png"/>
  </section>
  <section class="done-button-section">
  <ion-button shape="round" id="video-done-button" (click)="switchVideoQuestions(false)">
    <span id="done-font">Continue</span>
  </ion-button>
</section>
  <section>
    <ion-row class="choice-row">
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress(0)">
          <!-- <span class="font">{{ans1}}</span> -->
          <img id="answer-card" src="{{answer[0]['answer']}}"/>
        </ion-button>
      </ion-col>
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress(1)">
          <!-- <span class="font">{{answerOptions[1]}}</span> -->
          <img id="answer-card" src="{{answer[1]['answer']}}"/>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="choice-row">
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress(2)">
          <!-- <span class="font">{{answerOptions[2]}}</span> -->
          <img id="answer-card" src="{{answer[2]['answer']}}"/>
        </ion-button>
      </ion-col>
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress(3)">
          <!-- <span class="font">{{answerOptions[3]}}</span> -->
          <img id="answer-card" src="{{answer[3]['answer']}}"/>
        </ion-button>
      </ion-col>
    </ion-row>
  </section>
</section>
</section>
<ion-fab class="end-section" vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button id="replay-button" [routerLink]="['/subject-select/0']">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-fab-button>
<ion-fab-button id="exit-button" [routerLink]="['/play']">
    <ion-icon name="exit-outline"></ion-icon>
</ion-fab-button>
</ion-fab>
</ion-content>
