<ion-header>
  <ion-toolbar>
    <ion-title><img class="header-image" src="/assets/NumberfitLogo.png"/></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="card">
    <ion-card-content>
    </ion-card-content>
  </ion-card>
  <section>
    <img src="/assets/progress-singleplayer/{{pictureRef}}" style="padding: 10px"/>
  </section>
  <section>
    <ion-row class="choice-row">
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress()">
          <span class="font">5</span>
        </ion-button>
      </ion-col>
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress()">
          <span class="font">8</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="choice-row">
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress()">
          <span class="font">10</span>
        </ion-button>
      </ion-col>
      <ion-col class="choice-section">
        <ion-button shape="round" fill="outline" class="choice-button" (click)="updateProgress()">
          <span class="font">6</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </section>
</ion-content>
